/*--------------
2.0 Custom Variables
----------------*/
/*=============|Custom Colors|===============*/
$purple-400: #602dac;

/*===============|Pages Banners Common Properties|===============*/
$banner-height: 400px;
$gray-100: #a9a9a9;
$yellow: #f0bc5e;
$gray-400: #c4c4c4;
/**===============|Banner Overlay Color|====================*/
// $banner-overlay-color:linear-gradient(180deg, rgba($purple, 0.555) 0%, rgba(#7212f4, 0.733) 100%);
$banner-overlay-color: rgba(0, 0, 0, 0.5);
