/*--------------
3.1.3 Custom Buttons
----------------*/
//button styling

.btn {
	font-size: 0.75rem;
	font-family: $mont-regular;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	padding: 0.625rem 1.3rem;
	font-size: 1rem;
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.btn-font--M {
	font-size: 16px !important;
}

.btn.btn-primary {
	color: #ffffff;
	font-family: $mont-regular;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	background: $primary;
	border-radius: 8px;
	padding: 0.625rem 1.3rem;
	font-weight: normal;
	transition: all 0.3s ease;
	&:hover {
		background-color: $white;
		color: $primary;
		border: 1px solid $primary;
	}
}
.btn.btn-yellow {
	background-color: $yellow;
	color: $white;
	&:hover {
		border: 1px solid $yellow;
		background-color: $white;
		color: $yellow;
	}
}
